*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.game-header {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid red;
}

.game-header h1 {
    font-family: 'Schoolbell', cursive;
    font-size: 4em;
    margin: 20px;
}

.game-area {
    position: relative;
    height: 100%;
}

.matching {
    position: absolute;
    width: 240px;
    height: 240px;
}

#matching-position {
    border: 10px solid black;
}

#matching-element::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 220px;
    height: 220px;

    background-color: red;
}

.finished {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 2;
}

.finished h1 {
    font-family: 'Schoolbell', cursive;
    font-size: 3em;
    margin: 20px;
    color: orangered;
}

.finished #restart {
    font-family: 'Schoolbell', cursive;
    font-size: 2em;
    padding: .3em 1em;
    border-radius: 20px;
    border: 7px solid orangered;
    background-color: orange;
    color: orangered;
    cursor: pointer;
    transition: all .1s ease-in;
}

.finished #restart:hover {
    transform: scale(1.05);
    color: #fff;
}











